<form action="/auth/post" method="POST" enctype="multipart/form-data">
<label for="contentId">Content</label>
<input type="text" name="content" id="contentId">

<label for="picNameId">Picture Title</label>
<input type="text" name="picName" id="picNameId">

<label for="postImgId">Upload Pic</label>
<input type="file" name="postImg" id="postImgId">

<button type="submit">Post it!!</button>

</form>