<form action="/auth/edit" method="POST" enctype="multipart/form-data" >.
<label for="imageUrl">Upload new file:</label>
<input type="file" name="imageUrl">
<button type="sumbit">Upload file</button>
</form>